    html {
    height: 100%;
    }
    
    body {
    background: #E2E4E7;
    padding: 0;
    text-align: center;
    font-family: 'open sans';
    position: relative;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    }
    
    a {
    text-decoration: none;
    }
    
    h1, h2 {
    width: 100%;
    float: left;
    }
    
    header {
    position: relative;
    z-index: 10;
    }
    
    .img{
    height:80px;
    width:80px;
    }
    
    #gravitar{
    position:absolute;
    left:1em;
    top:7px;
    }
    
    #contact{
    position:absolute;
    right:4px;
    bottom:3px;
    color:#fff;
    }
    
	#header{
    position:fixed;
    height: 50px;
    display:block;
    width: 100%;
    background: #333;
    z-index:9;
    text-align:center;
    color: #f2f2f2;
    padding: 15px 0 0 0;
	}
	
	#header{
    top:0px;
	}
    
    #my-github-projects{
    
    }
    
    .fullPage-tooltip{
    background-color:#59505E;
    padding:5px;
    border:1px solid;
    border-color:white;
    border-radius:9px;
    }
    
    .siderunner{
    position:absolute;
    margin-left:1em;
    background: #333;
    height:100%;
    width:80px;
    z-index:0;
    top: 60px;
    }
    
	.card:after {
    display: block;
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 4px;
    height: 4px;
    background-color: #444;
    content: '';
	}
    
	.card {
    display: inline-block;
    position: relative;
    width: 20%;
    min-width: 128px;
    margin: 8px;
    padding: 1%;
    vertical-align: top;
    background-color: #eee;
    box-shadow: 2px 2px 4px #aaa;
    max-height:200px;
    overflow:hidden;
	}
    
	.card:hover { 
    background-color: #ddf;
	}
    
	.card .feature {
    display: block;
    width: .8em;
    height: .8em;
    margin-bottom: .2em;
    text-transform: uppercase;
    color: orange;
    font-size: 5em;
    line-height: .75;
    background-color: #444;
    border: 1px solid #888;
	}
	
	.card .caption {
    display: block;
    padding-top: 8px;
    border-top: 2px groove #888;
	}
	
	.card .caption:empty {
    border-top-style: hidden;
	}
	
    #resume{
    margin:1.8em;
    padding-right:2em;
    }
    
    #summary{
    text-align:left;
    }
    
    #career{
    text-align:left;
    }
    
    #about-text{
    display:static;
    margin-left: 7em;
    width: 80%;
    text-align:left;
    color:#D4D0D0;
    }
    
    #section0{
    position: relative;
    }
    
    .codewall{ 
    color:#F3F607;
    padding: 4px;
    margin: 4px;
    }
    
    .vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    height:50px;
    }
